
body{
    background: url(https://imthonuchun.netlify.app/bg.jpg);
    width: 100%;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 ;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .logo{
    display: flex;
    align-items: center;
    color: #03045e;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
}
.container ul{
    display: flex;
}
.container ul li{
    list-style: none;
    margin-right: 10px;
}
.container ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #03045e;
    font-size: 14px;
}
.container button{
    padding: 10px;
    border-radius: 20px;
    margin-top: -7px;
    margin-right: 5px;
    border: none;
    background-color: #4a4e69;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    width:80px;
}


.container1{
    margin: 80px;
    margin-top: 150px;
}
.container1 h1{
    font-size: 3rem;
    font-family: monospace;
    color: #03045e;
}
.container1 p{
    width: 300px;
    font-family: sans-serif;
    font-size: 15px;
}
.container1 .btn{
    padding: 15px;
    width: 150px;
    border: none;
    background: #ff6e42;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.container1 .btn:hover{
    border: 1px solid #ff6e42;
    background: #fff;
    color: #ff6e42;
}